.pokemonContainer {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1fr;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  .paginationButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }

    &.disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}
